@import url('../../theme/vars.css');
@import url('../../theme/fonts.css');

body {
  font-family: theme-font, sans-serif;
  /* font-size: 100%; *//* 16px */
  line-height: 1.25;
  color: grey;
  background: white;
  text-rendering: optimizeLegibilty;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
  transition: color .25s var(--cubic-in-out);
  text-decoration: none;
  color: var(--theme-color);
}

a:hover,
a:active,
a:focus {
  transition: none;
  color: color(var(--theme-color) blackness(10%));
}

a:focus {
  outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: var(--english);
  font-weight: normal;
  color: black;
}

b,
strong,
th {
  font-weight: normal;
  color: black;
}
